.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 0 5rem;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.text {
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
}

.description {
  max-width: 650px;
  width: 100%;
  line-height: 103px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}
.links {
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
}

#dynamic:before {
  content: " community manager";
  animation: wordmove 30s infinite;
}

@keyframes wordmove {
  10% {
    content: " designer";
  }
  20% {
    content: " social media manager";
  }
  30% {
    content: " builder";
  }
  40% {
    content: " community manager";
  }
  50% {
    content: " designer";
  }
  60% {
    content: " social media manager";
  }
  70% {
    content: " builder";
  }
  80% {
    content: " community manager";
  }
  90% {
    content: " designer";
  }
  100% {
    content: " social media manager";
  }
}

@media (max-width: 600px) {
  #dynamic:before {
    content: " community manager";
    animation: wordmove 30s infinite !important;
  }

  @keyframes wordmove {
    10% {
      content: " designer";
    }
    20% {
      content: " social media manager";
    }
    30% {
      content: " builder";
    }
    40% {
      content: " community manager";
    }
    50% {
      content: " designer";
    }
    60% {
      content: " social media manager";
    }
    70% {
      content: " builder";
    }
    80% {
      content: " community manager";
    }
    90% {
      content: " designer";
    }
    100% {
      content: " social media manager";
    }
  }
  .links {
    font-size: 24.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0%;
  }
  .main {
    padding: 0%;
  }
  .text {
    width: 100%;
    padding: 0;
    margin: 0%;
    font-size: 1rem;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
  }
  .description {
    line-height: 4.5rem;
  }
}
